/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: rgb(0, 0, 0);
  position: relative;
}
body::before{
  content: '';
  position: absolute;
  width: 100%;
  background: rgb(0, 0, 0);
  clip-path: inset(47% 0 0 0);
  z-index: -1;
  height: 100%;
}
.back-video{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1
}
@media (max-aspect-ratio: 16/9){
  .back-video{
      width: auto;
      height: 100%;
  }
}

.container{
  max-width: 1100px;
  width: 100%;
  overflow: hidden;
  padding: 130px 0;
}
.container .main-card{
  display: flex;
  justify-content: space-evenly;
  width: 200%;
  transition: 1s;
}
#two:checked ~ .main-card{
  margin-left: -100%;
}
.container .main-card .cards{
  width: calc(100% / 2 - 10px);
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  justify-content: space-between;
}
.main-card .cards .card{
  width: calc(100% / 3 - 10px);
  background: rgba(219, 219, 219, 0.288);
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.475);
  transition: all 0.4s ease;
}
.main-card .cards .card:hover{
  transform: translateX(10px) rotate(5deg) translateY(10px);
}
.cards .card .content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cards .card .content .img{
  height: 250px;
  width: 270px;
  border-radius: 0%;
  margin-bottom: 14px;
}
.card .content .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card .content .name{
  font-size: 20px;
  font-weight: 500;
}
.card .content .job{
  font-size: 20px;
  color: #ffffff;
}

 .container .button{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.button label{
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background: #fff;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.button label.active{
  width: 35px;
}
#one:checked ~ .button .one{
  width: 35px;
}
#one:checked ~ .button .two{
  width: 15px;
}
#one:checked ~ .button .three{
  width: 15px;
}
#two:checked ~ .button .one{
  width: 15px;
}
#two:checked ~ .button .two{
  width: 35px;
}
#two:checked ~ .button .three{
  width: 15px;
}
input[type="radio"]{
  display: none;
}
@media (max-width: 768px) {
  .main-card .cards .card{
    margin: 20px 0 10px 0;
    width: calc(100% / 2 - 10px);
  }
}
@media (max-width: 600px) {
  .main-card .cards .card{
    margin: 20px 0 10px 0;
    width: 100%;
  }
}
